boto3~=1.21.21
bdrc-volume-manifest-builder>=1.2.6
bdrc-DBApps
bdrc-bag
bdrc-util
botocore~=1.24.21
# requests==2.31 generates this:
# ImportError: cannot import name 'DEFAULT_CIPHERS' from 'urllib3.util.ssl_' (/Users/jimk/dev/ao-workflows/venv/lib/python3.11/site-packages/urllib3/util/ssl_.py)
# requests==2.28.2
